@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vodka Street<br />
    United Kingdom, WA 8129442729<br />
    <abbr title="yes"></abbr>
    
</address>

<address>
    
</address>