@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Login chafa</h1>
    <p class="lead">No sé, no sirve</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login rancio</h2>
        <p>
            asdf
        </p>
        
    </div>
   
</div>